Importamos las librerías Pandas y Numpy

In [1]:
import pandas as pd
import numpy as np

### Step 2. Tomaremos el fichero en [esta URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y lo leeremos como un dataframe.

Pista: [read_csv](https://numpy.org/doc/stable/user/absolute_beginners.html#importing-and-exporting-a-csv)

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [3]:
chipotle_df = pd.read_csv(url, sep = '\t')

chipotle_df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
chipotle_df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

In [5]:
chipotle_df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [6]:
# Vamos a ver que producto es el que tiene mayor precio

chipotle_df['item_price'] = chipotle_df['item_price'].str.replace('[$]', '', regex=True).astype(float)

In [21]:
chipotle_df['precio_unidad'] = chipotle_df['item_price'] / chipotle_df['quantity']

In [29]:
max_unit_price =chipotle_df['precio_unidad'].max()

item_with_max_price = chipotle_df.loc[chipotle_df['precio_unidad'] == max_unit_price, 'item_name'].values[0]

print(f"The item with the maximum unit price is: {item_with_max_price} and its price {max_unit_price}")

The item with the maximum unit price is: Steak Salad Bowl and its price 11.89

### Step 4. ¿Qué productos cuestan más de $10?

In [10]:
chipotle_df['precio_unidad'] = chipotle_df['item_price'] / chipotle_df['quantity']

In [11]:
condicion = chipotle_df['precio_unidad'] > 10

chipotle_df[condicion]

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

### Step 4.1: ¿Y cuántos pedidos se han hecho con un producto de más de 10$? ¿Es lo mismo?

In [42]:


len(chipotle_df[(chipotle_df['item_price']>10) & (chipotle_df['precio_unidad']>10)])

1034

In [45]:
pedidos_mas_10 = chipotle_df[chipotle_df['precio_unidad'] > 10]['order_id'].nunique()

pedidos_mas_10

787

In [ ]:
result_df = chipotle_df.groupby('item_name').agg({
    'item_price': 'mean',
    'precio_unidad': 'mean',
    'quantity': 'max',
    'order_id': 'count'
}).reset_index()

result_df

,item_name,item_price,precio_unidad,quantity,order_id
0,6 Pack Soft Drink,6.610185,6.490000,2,54
1,Barbacoa Bowl,10.187273,10.187273,1,66
2,Barbacoa Burrito,9.832418,9.832418,1,91
3,Barbacoa Crispy Tacos,10.928182,10.087273,2,11
4,Barbacoa Salad Bowl,10.640000,10.640000,1,10
5,Barbacoa Soft Tacos,10.018400,10.018400,1,25
6,Bottled Water,1.867654,1.431667,10,162
7,Bowl,14.800000,7.400000,3,2
8,Burrito,7.400000,7.400000,1,6
9,Canned Soda,1.320577,1.090000,4,104
10,Canned Soft Drink,1.457641,1.250000,4,301
11,Carnitas Bowl,10.833971,10.315588,3,68
12,Carnitas Burrito,10.132712,9.975932,2,59
13,Carnitas Crispy Tacos,11.137143,9.852857,2,7
14,Carnitas Salad,8.990000,8.990000,1,1
15,Carnitas Salad Bowl,11.056667,11.056667,1,6
16,Carnitas Soft Tacos,9.398500,9.398500,1,40
17,Chicken Bowl,10.113953,9.657727,3,726
18,Chicken Burrito,10.082857,9.475949,4,553
19,Chicken Crispy Tacos,10.045319,9.492340,2,47
20,Chicken Salad,9.010000,9.010000,1,9
21,Chicken Salad Bowl,11.170455,9.909091,2,110
22,Chicken Soft Tacos,9.635565,9.240261,2,115
23,Chips,2.342844,2.149242,3,211
24,Chips and Fresh Tomato Salsa,3.285091,2.748727,15,110
25,Chips and Guacamole,4.595073,4.345616,4,479
26,Chips and Mild Fresh Tomato Salsa,3.000000,3.000000,1,1
27,Chips and Roasted Chili Corn Salsa,3.084091,2.950000,2,22
28,Chips and Roasted Chili-Corn Salsa,2.390000,2.390000,1,18
29,Chips and Tomatillo Green Chili Salsa,3.087209,2.950000,2,43
30,Chips and Tomatillo Red Chili Salsa,3.072917,2.950000,2,48
31,Chips and Tomatillo-Green Chili Salsa,2.544194,2.390000,2,31
32,Chips and Tomatillo-Red Chili Salsa,2.987500,2.390000,3,20
33,Crispy Tacos,7.400000,7.400000,1,2
34,Izze,3.390000,3.390000,1,20
35,Nantucket Nectar,3.641111,3.390000,2,27
36,Salad,7.400000,7.400000,1,2
37,Side of Chips,1.840594,1.690000,8,101
38,Steak Bowl,10.711801,10.232559,3,211
39,Steak Burrito,10.465842,9.993424,3,368
40,Steak Crispy Tacos,10.209714,9.952857,2,35
41,Steak Salad,8.915000,8.915000,1,4
42,Steak Salad Bowl,11.847931,11.027931,2,29
43,Steak Soft Tacos,9.746364,9.578182,2,55
44,Veggie Bowl,10.211647,10.011882,2,85
45,Veggie Burrito,9.839684,9.602842,3,95
46,Veggie Crispy Tacos,8.490000,8.490000,1,1
47,Veggie Salad,8.490000,8.490000,1,6
48,Veggie Salad Bowl,10.138889,10.138889,1,18
49,Veggie Soft Tacos,10.565714,9.352857,2,7

### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

In [35]:
chipotle_df.groupby(by='order_id').sum('item_price')

          quantity  item_price  precio_unidad
order_id
1                4       11.56          11.56
2                2       16.98           8.49
3                2       12.67          12.67
4                2       21.00          21.00
5                2       13.70          13.70
...            ...         ...            ...
1830             2       23.00          23.00
1831             3       12.90          12.90
1832             2       13.20          13.20
1833             2       23.50          23.50
1834             3       28.75          28.75

[1834 rows x 3 columns]

In [36]:
filtrado = chipotle_df.groupby(by='order_id').sum('item_price')


len(filtrado[filtrado['item_price']>10].value_counts())

481

### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

In [48]:
pedidos_producto_mas_10 = chipotle_df.groupby(['order_id', 'item_name']).filter(lambda x: x['item_price'].sum() > 10)['order_id'].unique()

len(pedidos_producto_mas_10)

945

### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? ¿Hay productos con varios precios?

In [58]:
precios_por_articulo = chipotle_df.groupby(by='item_name')['item_price'].nunique()

precios_por_articulo

item_name
6 Pack Soft Drink                         2
Barbacoa Bowl                             6
Barbacoa Burrito                          6
Barbacoa Crispy Tacos                     5
Barbacoa Salad Bowl                       2
Barbacoa Soft Tacos                       4
Bottled Water                            10
Bowl                                      2
Burrito                                   1
Canned Soda                               3
Canned Soft Drink                         4
Carnitas Bowl                             7
Carnitas Burrito                          7
Carnitas Crispy Tacos                     4
Carnitas Salad                            1
Carnitas Salad Bowl                       2
Carnitas Soft Tacos                       3
Chicken Bowl                             13
Chicken Burrito                          12
Chicken Crispy Tacos                      6
Chicken Salad                             3
Chicken Salad Bowl                        4
Chicken Soft Tacos                        7
Chips                                     4
Chips and Fresh Tomato Salsa              6
Chips and Guacamole                       9
Chips and Mild Fresh Tomato Salsa         1
Chips and Roasted Chili Corn Salsa        2
Chips and Roasted Chili-Corn Salsa        1
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Chips and Tomatillo-Red Chili Salsa       3
Crispy Tacos                              1
Izze                                      1
Nantucket Nectar                          2
Salad                                     1
Side of Chips                             3
Steak Bowl                               10
Steak Burrito                            12
Steak Crispy Tacos                        5
Steak Salad                               2
Steak Salad Bowl                          3
Steak Soft Tacos                          5
Veggie Bowl                               5
Veggie Burrito                            5
Veggie Crispy Tacos                       1
Veggie Salad                              1
Veggie Salad Bowl                         2
Veggie Soft Tacos                         4
Name: item_price, dtype: int64

In [59]:
# Agrupar por 'item_name' y aplicar una función para obtener una lista de precios únicos
precios_diferentes_por_articulo = chipotle_df.groupby('item_name')['item_price'].apply(lambda x: list(x.unique()))

# Mostrar los resultados
print(precios_diferentes_por_articulo)

item_name
6 Pack Soft Drink                                                            [6.49, 12.98]
Barbacoa Bowl                                      [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                                   [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                     [11.75, 9.25, 11.48, 8.99, 18.5]
Barbacoa Salad Bowl                                                          [11.89, 9.39]
Barbacoa Soft Tacos                                             [9.25, 8.99, 11.75, 11.48]
Bottled Water                            [1.09, 1.5, 3.0, 3.27, 2.18, 6.0, 7.5, 4.5, 10...
Bowl                                                                           [22.2, 7.4]
Burrito                                                                              [7.4]
Canned Soda                                                             [2.18, 1.09, 4.36]
Canned Soft Drink                                                   [1.25, 2.5, 3.75, 5.0]
Carnitas Bowl                               [8.99, 11.75, 9.25, 11.48, 23.5, 11.08, 35.25]
Carnitas Burrito                             [8.99, 9.25, 11.75, 11.48, 18.5, 11.08, 8.69]
Carnitas Crispy Tacos                                           [9.25, 11.75, 8.99, 17.98]
Carnitas Salad                                                                      [8.99]
Carnitas Salad Bowl                                                          [11.89, 9.39]
Carnitas Soft Tacos                                                    [9.25, 8.99, 11.75]
Chicken Bowl                             [16.98, 10.98, 11.25, 8.75, 8.49, 17.5, 32.94,...
Chicken Burrito                          [8.49, 10.98, 8.75, 17.5, 11.25, 10.58, 8.19, ...
Chicken Crispy Tacos                               [8.75, 17.5, 11.25, 8.49, 10.98, 16.98]
Chicken Salad                                                          [10.98, 8.49, 8.19]
Chicken Salad Bowl                                               [8.75, 22.5, 17.5, 11.25]
Chicken Soft Tacos                          [8.75, 11.25, 8.49, 17.5, 10.98, 16.98, 21.96]
Chips                                                              [2.15, 4.3, 6.45, 1.99]
Chips and Fresh Tomato Salsa                          [2.39, 2.95, 2.29, 11.8, 5.9, 44.25]
Chips and Guacamole                      [4.45, 3.99, 4.0, 8.9, 3.89, 13.35, 7.98, 8.5,...
Chips and Mild Fresh Tomato Salsa                                                    [3.0]
Chips and Roasted Chili Corn Salsa                                             [2.95, 5.9]
Chips and Roasted Chili-Corn Salsa                                                  [2.39]
Chips and Tomatillo Green Chili Salsa                                          [2.95, 5.9]
Chips and Tomatillo Red Chili Salsa                                            [2.95, 5.9]
Chips and Tomatillo-Green Chili Salsa                                         [2.39, 4.78]
Chips and Tomatillo-Red Chili Salsa                                     [2.39, 4.78, 7.17]
Crispy Tacos                                                                         [7.4]
Izze                                                                                [3.39]
Nantucket Nectar                                                              [3.39, 6.78]
Salad                                                                                [7.4]
Side of Chips                                                          [1.69, 5.07, 13.52]
Steak Bowl                               [8.99, 11.75, 11.48, 9.25, 11.08, 17.98, 8.69,...
Steak Burrito                            [11.75, 9.25, 8.99, 11.48, 17.98, 11.08, 22.16...
Steak Crispy Tacos                                        [9.25, 8.99, 8.69, 11.75, 17.98]
Steak Salad                                                                   [8.99, 8.69]
Steak Salad Bowl                                                      [23.78, 11.89, 9.39]
Steak Soft Tacos                                          [9.25, 8.99, 11.75, 11.48, 18.5]
Veggie Bowl                                              [11.25, 8.49, 8.75, 16.98, 10.98]
Veggie Burrito                                           [11.25, 8.49, 10.98, 8.75, 33.75]
Veggie Crispy Tacos                                                                 [8.49]
Veggie Salad                                                                        [8.49]
Veggie Salad Bowl                                                            [11.25, 8.75]
Veggie Soft Tacos                                               [11.25, 8.75, 8.49, 16.98]
Name: item_price, dtype: object

### Step 6. Ordena el dataframe en base al nombre de producto (item name)

In [54]:
chipotle_df.sort_values(by='item_name', ascending=True)

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. ¿Cuantas veces se ha pedido los productos más caros?

In [67]:
# Ordenar los artículos por 'item_price' de mayor a menor y luego seleccionar los primeros
productos_mas_caros_top10 = chipotle_df.sort_values(by='precio_unidad', ascending=False).drop_duplicates(subset='precio_unidad').head(10)

# Mostrar los resultados
print(productos_mas_caros_top10[['item_name', 'precio_unidad']])

                item_name  precio_unidad
2442  Barbacoa Salad Bowl          11.89
3211  Barbacoa Soft Tacos          11.75
4510        Barbacoa Bowl          11.49
1430        Carnitas Bowl          11.48
986       Chicken Burrito          11.25
822         Carnitas Bowl          11.08
2133      Chicken Burrito          10.98
409          Chicken Bowl          10.98
476       Chicken Burrito          10.58
3115  Carnitas Salad Bowl           9.39

In [78]:
# Suponiendo que 'productos_mas_caros_top10' es un DataFrame con los 10 productos más caros y sus precios
conteo_precisos_productos_caros = chipotle_df[chipotle_df.apply(lambda x: (x['item_name'], x['precio_unidad']) in productos_mas_caros_top10[['item_name', 'item_price']].values, axis=1)]['item_name'].value_counts()

# Mostrar los resultados
print(conteo_precisos_productos_caros)

item_name
Chicken Bowl           726
Chicken Burrito        553
Carnitas Bowl           68
Barbacoa Bowl           66
Barbacoa Soft Tacos     25
Barbacoa Salad Bowl     10
Carnitas Salad Bowl      6
Name: count, dtype: int64

### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.

In [39]:
chipotle_df[chipotle_df['item_name'] == 'Veggie Salad Bowl'].nunique()

order_id              18
quantity               1
item_name              1
choice_description    16
item_price             2
precio_unidad          2
dtype: int64