Importamos las librerías Pandas y Numpy

In [1]:
import pandas as pd
import numpy as np

### Step 2. Tomaremos el fichero en [esta URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y lo leeremos como un dataframe.

Pista: [read_csv](https://numpy.org/doc/stable/user/absolute_beginners.html#importing-and-exporting-a-csv)

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [4]:
chipotle_df = pd.read_csv(url, sep = '\t')

chipotle_df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipotle_df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

In [6]:
chipotle_df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [7]:
# Vamos a ver que producto es el que tiene mayor precio

chipotle_df['item_price'] = chipotle_df['item_price'].str.replace('[$]', '', regex=True).astype(float)

In [8]:
chipotle_df['item_price'].max()

44.25

In [9]:
chipotle_df[(chipotle_df['item_price']== 44.25)]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 4. ¿Qué productos cuestan más de $10?

In [10]:
chipotle_df[['order_id','item_name','item_price','choice_description']] [chipotle_df['item_price'] > 10]

,order_id,item_name,item_price,choice_description
4,2,Chicken Bowl,16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
5,3,Chicken Bowl,10.98,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou..."
7,4,Steak Burrito,11.75,"[Tomatillo Red Chili Salsa, [Fajita Vegetables..."
13,7,Chicken Bowl,11.25,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
23,12,Chicken Burrito,10.98,"[[Tomatillo-Green Chili Salsa (Medium), Tomati..."
...,...,...,...,...
4610,1830,Steak Burrito,11.75,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4611,1830,Veggie Burrito,11.25,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve..."
4617,1833,Steak Burrito,11.75,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ..."
4618,1833,Steak Burrito,11.75,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4619,1834,Chicken Salad Bowl,11.25,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."

In [11]:
chipotle_df['precio_unidad'] = chipotle_df['item_price'] / chipotle_df['quantity']

In [12]:
condicion = chipotle_df['precio_unidad'] > 10

chipotle_df[condicion]

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

### Step 4.1: ¿Y cuántos pedidos se han hecho con un producto de más de 10$? ¿Es lo mismo?

In [13]:
condicion = (chipotle_df['precio_undiad']>10)

chipotle_df[condicion]['order_id'].nunique()

KeyError: 'precio_undiad'

In [18]:
result_df = chipotle_df.groupby('item_name').agg({
    'item_price': 'mean',
    'precio_unidad': 'mean',
    'quantity': 'max',
    'order_id': 'count'
}).reset_index()

result_df

,item_name,item_price,precio_unidad,quantity,order_id
0,6 Pack Soft Drink,6.610185,6.490000,2,54
1,Barbacoa Bowl,10.187273,10.187273,1,66
2,Barbacoa Burrito,9.832418,9.832418,1,91
3,Barbacoa Crispy Tacos,10.928182,10.087273,2,11
4,Barbacoa Salad Bowl,10.640000,10.640000,1,10
5,Barbacoa Soft Tacos,10.018400,10.018400,1,25
6,Bottled Water,1.867654,1.431667,10,162
7,Bowl,14.800000,7.400000,3,2
8,Burrito,7.400000,7.400000,1,6
9,Canned Soda,1.320577,1.090000,4,104
10,Canned Soft Drink,1.457641,1.250000,4,301
11,Carnitas Bowl,10.833971,10.315588,3,68
12,Carnitas Burrito,10.132712,9.975932,2,59
13,Carnitas Crispy Tacos,11.137143,9.852857,2,7
14,Carnitas Salad,8.990000,8.990000,1,1
15,Carnitas Salad Bowl,11.056667,11.056667,1,6
16,Carnitas Soft Tacos,9.398500,9.398500,1,40
17,Chicken Bowl,10.113953,9.657727,3,726
18,Chicken Burrito,10.082857,9.475949,4,553
19,Chicken Crispy Tacos,10.045319,9.492340,2,47
20,Chicken Salad,9.010000,9.010000,1,9
21,Chicken Salad Bowl,11.170455,9.909091,2,110
22,Chicken Soft Tacos,9.635565,9.240261,2,115
23,Chips,2.342844,2.149242,3,211
24,Chips and Fresh Tomato Salsa,3.285091,2.748727,15,110
25,Chips and Guacamole,4.595073,4.345616,4,479
26,Chips and Mild Fresh Tomato Salsa,3.000000,3.000000,1,1
27,Chips and Roasted Chili Corn Salsa,3.084091,2.950000,2,22
28,Chips and Roasted Chili-Corn Salsa,2.390000,2.390000,1,18
29,Chips and Tomatillo Green Chili Salsa,3.087209,2.950000,2,43
30,Chips and Tomatillo Red Chili Salsa,3.072917,2.950000,2,48
31,Chips and Tomatillo-Green Chili Salsa,2.544194,2.390000,2,31
32,Chips and Tomatillo-Red Chili Salsa,2.987500,2.390000,3,20
33,Crispy Tacos,7.400000,7.400000,1,2
34,Izze,3.390000,3.390000,1,20
35,Nantucket Nectar,3.641111,3.390000,2,27
36,Salad,7.400000,7.400000,1,2
37,Side of Chips,1.840594,1.690000,8,101
38,Steak Bowl,10.711801,10.232559,3,211
39,Steak Burrito,10.465842,9.993424,3,368
40,Steak Crispy Tacos,10.209714,9.952857,2,35
41,Steak Salad,8.915000,8.915000,1,4
42,Steak Salad Bowl,11.847931,11.027931,2,29
43,Steak Soft Tacos,9.746364,9.578182,2,55
44,Veggie Bowl,10.211647,10.011882,2,85
45,Veggie Burrito,9.839684,9.602842,3,95
46,Veggie Crispy Tacos,8.490000,8.490000,1,1
47,Veggie Salad,8.490000,8.490000,1,6
48,Veggie Salad Bowl,10.138889,10.138889,1,18
49,Veggie Soft Tacos,10.565714,9.352857,2,7

### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

In [16]:
filtrado = chipotle_df.groupby(by='order_id').sum('item_price')


len(filtrado[filtrado['item_price']>10].value_counts())

481

### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? ¿Hay productos con varios precios?

In [ ]:
chipotle_df.groupby(by='item_name')

### Step 6. Ordena el dataframe en base al nombre de producto (item name)

In [ ]:
chipotle_df['item_name'].sort_values

<bound method Series.sort_values of 0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object>

### Step 7. ¿Cuantas veces se ha pedido los productos más caros?

### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.